.chat{
    flex:2;
    border-left: 1px solid #dddddd35;
    border-right: 1px solid #dddddd35;
    height: 100%;
    display: flex;
    flex-direction: column;


    .top{
        display: flex;
        padding: 0.8rem;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #dddddd35;

        .user{
            display: flex;
            gap: 1rem;
            align-items: center;
            cursor: pointer;

            img{
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
                object-fit: cover;
            }

            .texts{
                display: flex;
                flex-direction: column;
                gap: 0.3rem;

                span{
                    font-size: 1.1rem;
                    font-weight: bold;
                }

                p{
                    font-weight: 300;
                    font-size: 0.64rem;
                    color: #a5a5a5b0;
                }
            }
        }

        .icons{
            display: flex;
            gap: 1.2rem;

            img{
                height: 1.1rem;
                width: 1.1rem;
                cursor: pointer;
            }
        }

    }

    .center{
        flex: 1;
        padding: 0.6rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        overflow: scroll;

        img{
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            object-fit: cover;
        }

        .texts{
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 0.2rem;

            p{
                padding: 0.8rem;
                background-color: rgba(17, 25, 40, 0.3);
                border-radius: 10px;
                font-size: 1rem;
            }

            span{
                font-size: 0.7rem;
            }

            img{
                width: 100%;
                height: 30vh;
                border-radius: 10px;
                object-fit: cover;
            }
        }

        .message{
            max-width: 70%;
            display: flex;
            gap: 20px;
            align-self: flex-start;


            &.own{
                align-self: flex-end;

                .texts{
                    p{
                        background-color: #5183fe;
                    }
                }
            }
        }
    }

    .bottom{
        gap: 1rem;
        padding: 0.7rem;
        display: flex;
        align-items:center;
        justify-content: space-between;
        border-top: 1px solid #dddddd35;
        margin-top: auto;

        img{
            height: 1rem;
            width: 1rem;
            cursor: pointer;
        }

        .icons{
            display: flex;
            gap: 1.3rem;
            align-items: center;
            /* cursor: pointer;  */
        }

        .file-upload{
            position: relative;
            display: inline-block;
        }

        .only-img-div {
            position: absolute;
            bottom: 30px;
            left: 0px;
            background-color: rgba(0, 0, 0, 0.75);
            color: white;
            font-size: 10px;
            padding: 3px 6px;
            font-weight: 100;
            display: none;
        }

        .file-upload:hover .only-img-div {
            display: block;
        }


        input{
            flex: 1;
            background-color: rgba(17, 25, 40, 0.5);
            border: none;
            padding:1rem;
            outline: none;
            border-radius: 10px;
            color: white;
            font-size: 14px;

            &:disabled{
                cursor: not-allowed;
            }
        }

        button{
            background-color: #5183fe;
            color: white;
            padding: 0.6rem 1rem;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:disabled{
                background-color: #5182fe8b;
                cursor: not-allowed;
            }
        }

        .emoji{
            position: relative;

            .picker{
                position: absolute;
                bottom: 30px;
                right: 0px;
            }
        }
    }
}

.AI{
    padding: 0.2rem;
    background-color: #5183fe;
    color: black;
    border-radius: 50%;
    cursor: pointer;
}